.mainBody {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #7197d0, #6d9acb);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background 0.5s ease;
    background-image: url('C:\Users\DELL\Documents\GitHub\AirCanvas\hand-drawing-app\frontend\public\Images\abstract-2055567_1920.jpg');
    background-size: cover;
    background-position: center;
}

/* Container for both VideoFeed and PaintCanvas */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center; /* Change this to center the contents */
    background: rgba(45, 44, 44, 0.9);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1200px; /* Add a max-width to avoid it stretching too far */
    height: auto;
    margin: 0 auto; /* Center the wrapper in the body */
}

.contains {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #bdc3c7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    backdrop-filter: blur(10px);
    padding: 2.5rem;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    width: 48%; /* Adjust the width as needed */
    transition: transform 0.3s ease;
    margin-left: 10px;
}

.contains:hover {
    transform: scale(1.05);
}

img {
    max-width: 100%;
    border-radius: 15px;
    border: 3px solid #4c4b4b;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
}

img:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.footer {
    margin-top: 1.5rem;
    font-size: 1rem;
    color: #333;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.footer a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #0056b3;
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
