body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #7197d0, #6d9acb);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: background 0.5s ease;
  background-image: url('C:/Users/DELL/Documents/GitHub/AirCanvas/hand-drawing-app/frontend/public/Images/abstract-2055567_1920.jpg');
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 3rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

/* Container for both VideoFeed and PaintCanvas */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(45, 44, 44, 0.9);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  width: 90%;
  height: auto;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1200px;
}

.cta-btn {
  background-color: #007bff;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #0056b3;
}

h1, h2, h3 {
  font-weight: 600;
}

p {
  line-height: 1.6;
  color: #555;
}

a {
  color: inherit;
}
